############################
# macOS
############################
.DS_Store
.AppleDouble
.LSOverride

############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# Java compiled files
############################
*.class
out/
target/

############################
# Logs & temp files
############################
*.log
*.tmp
*.swp
*.bak

############################
# OS / Editor junk
############################
*.orig
*~
